.detail{
    align-items: center;
    margin-left: 100px;
    background-color: gray;
    border:none;
}
.descript{
    align-items: center;
    text-align: center;
    padding-top: 105px;
    background-color: gray;
}
.card-container {
    display: flex;
    overflow-x: auto;
    width: 200%;
    white-space: nowrap;
    padding: 70px;
}

.card {
    width: 18rem;
    margin-right: 10px;
    background-color: gray;   
}