.carta {
    width: 18rem;
    padding-left: 10px;
    margin-left: 185px;
}
.detail{
    align-items: center;
    background-color: whitesmoke !important;
}
.descript{
    align-items: center;
    text-align: center;
    padding-top: 105px;
}